<div class="post media">
    <h3>{{ post.message_html|safe }}</h3>
    <div class="media-body">
{#        <strong>{{ post.user.username }}</strong>#}
        <h5 class="media-heading">
        <span class="username">
            <a href="{% url 'posts:for_user' username=post.user.username %}">@{{ post.user.username }}</a>
        </span>
            <time class="time">
                <a href="{% url 'posts:single' username=post.user.username pk=post.pk %}">{{ post.created_at }}</a>
            </time>
        </h5>

        <div class="media-footer">
            {% if user.is_authenticated and post.user == user %}
                <a class="btn btn-sm btn-outline-secondary" title="delete" href="{% url 'posts:delete' pk=post.pk %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                         class="bi bi-trash-fill" viewBox="0 0 16 16" aria-hidden="true">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                    </svg>
                    <span class="text-danger icon-label">Delete</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>